#canvasHold{
    display: flex;
    flex-direction: column;
    align-items: center;
        justify-content:center;
        /* width: 50%;
        
    height: 50%; */
    /* width: 50%; */
        background-color: #66717E;
    /* border: 2px solid black; */
/* width: 100%;
height: 100%; */
    /* height: 80%;
    width: 60%; */
    height: 100%;
    width: 100% ;

}

#canvas{
    /* box-sizing: border-box; */
    /* width: 600;
    height: 300; */
    background-color: powderblue;
   /*height: 100%; */
    /* border: 2px solid red; */
    /* margin: 0; */
    
    }

#displayBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border: 2px solid black;
    width:30%;
    background-color: #D4D6B9;
}
h4{
    margin:0;
}