#home{
    width: 100vw;
    min-height: 100vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;

}

#canvas{
    width: 50%;
    height: 50%;
    background-color: powderblue;
}