#home{
    background-color:#383B53;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
min-height: 100vh;
width: 100vw;
text-align: center;

}

button{
    background-color:#D4D6B9;
    color: black;
    /* width:20%; */
    border: none;
    margin: 0.5em;
    border-radius: 25px;
    font-weight: 600;
    font-size: 15px;

}

h1{
    color: honeydew;
}

